IQToolsManagementConsole/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFacility">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacilityResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDBResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataDBResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIQToolsDBData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIQToolsDBDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIQToolsDBDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQueriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQueriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDBs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="countryCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDBsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDBsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataDCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataDCResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDBLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dbType" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="method" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataDBLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataDBLogResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Merge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DBs" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="UID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MergeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MergeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAvailability">
        <s:complexType />
      </s:element>
      <s:element name="CheckAvailabilityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAvailabilityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCredentialsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qryDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="qryDesc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateQueryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrievePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrievePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogUserHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="logInOut" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogUserHistoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="PasswordChanged">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordChangedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PasswordChangedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xxxxx">
        <s:complexType />
      </s:element>
      <s:element name="xxxxxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xxxxxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserLocationResult" type="tns:GeoLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GeoLocation">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CityName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RegionName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ErrorLogging">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="application" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorLoggingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorLoggingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFacilitySoapIn">
    <wsdl:part name="parameters" element="tns:GetFacility" />
  </wsdl:message>
  <wsdl:message name="GetFacilitySoapOut">
    <wsdl:part name="parameters" element="tns:GetFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataDBSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataDB" />
  </wsdl:message>
  <wsdl:message name="GetDataDBSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataDBResponse" />
  </wsdl:message>
  <wsdl:message name="GetIQToolsDBDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetIQToolsDBData" />
  </wsdl:message>
  <wsdl:message name="GetIQToolsDBDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetIQToolsDBDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetQueriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetQueries" />
  </wsdl:message>
  <wsdl:message name="GetQueriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetQueriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetDBsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDBs" />
  </wsdl:message>
  <wsdl:message name="GetDBsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDBsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataDCSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataDC" />
  </wsdl:message>
  <wsdl:message name="GetDataDCSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataDCResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataDBLogSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataDBLog" />
  </wsdl:message>
  <wsdl:message name="GetDataDBLogSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataDBLogResponse" />
  </wsdl:message>
  <wsdl:message name="MergeSoapIn">
    <wsdl:part name="parameters" element="tns:Merge" />
  </wsdl:message>
  <wsdl:message name="MergeSoapOut">
    <wsdl:part name="parameters" element="tns:MergeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAvailabilitySoapIn">
    <wsdl:part name="parameters" element="tns:CheckAvailability" />
  </wsdl:message>
  <wsdl:message name="CheckAvailabilitySoapOut">
    <wsdl:part name="parameters" element="tns:CheckAvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="GetCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCredentials" />
  </wsdl:message>
  <wsdl:message name="GetCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCredentialsResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeDetails" />
  </wsdl:message>
  <wsdl:message name="ChangeDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveQuerySoapIn">
    <wsdl:part name="parameters" element="tns:SaveQuery" />
  </wsdl:message>
  <wsdl:message name="SaveQuerySoapOut">
    <wsdl:part name="parameters" element="tns:SaveQueryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuerySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuery" />
  </wsdl:message>
  <wsdl:message name="UpdateQuerySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQueryResponse" />
  </wsdl:message>
  <wsdl:message name="RetrievePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:RetrievePassword" />
  </wsdl:message>
  <wsdl:message name="RetrievePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:RetrievePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="LogUserHistorySoapIn">
    <wsdl:part name="parameters" element="tns:LogUserHistory" />
  </wsdl:message>
  <wsdl:message name="LogUserHistorySoapOut">
    <wsdl:part name="parameters" element="tns:LogUserHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="PasswordChangedSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordChanged" />
  </wsdl:message>
  <wsdl:message name="PasswordChangedSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordChangedResponse" />
  </wsdl:message>
  <wsdl:message name="xxxxxSoapIn">
    <wsdl:part name="parameters" element="tns:xxxxx" />
  </wsdl:message>
  <wsdl:message name="xxxxxSoapOut">
    <wsdl:part name="parameters" element="tns:xxxxxResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserLocation" />
  </wsdl:message>
  <wsdl:message name="GetUserLocationSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorLoggingSoapIn">
    <wsdl:part name="parameters" element="tns:ErrorLogging" />
  </wsdl:message>
  <wsdl:message name="ErrorLoggingSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorLoggingResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetFacility">
      <wsdl:input message="tns:GetFacilitySoapIn" />
      <wsdl:output message="tns:GetFacilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDB">
      <wsdl:input message="tns:GetDataDBSoapIn" />
      <wsdl:output message="tns:GetDataDBSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIQToolsDBData">
      <wsdl:input message="tns:GetIQToolsDBDataSoapIn" />
      <wsdl:output message="tns:GetIQToolsDBDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQueries">
      <wsdl:input message="tns:GetQueriesSoapIn" />
      <wsdl:output message="tns:GetQueriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDBs">
      <wsdl:input message="tns:GetDBsSoapIn" />
      <wsdl:output message="tns:GetDBsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDC">
      <wsdl:input message="tns:GetDataDCSoapIn" />
      <wsdl:output message="tns:GetDataDCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataDBLog">
      <wsdl:input message="tns:GetDataDBLogSoapIn" />
      <wsdl:output message="tns:GetDataDBLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <wsdl:input message="tns:MergeSoapIn" />
      <wsdl:output message="tns:MergeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckAvailability">
      <wsdl:input message="tns:CheckAvailabilitySoapIn" />
      <wsdl:output message="tns:CheckAvailabilitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <wsdl:input message="tns:GetCredentialsSoapIn" />
      <wsdl:output message="tns:GetCredentialsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeDetails">
      <wsdl:input message="tns:ChangeDetailsSoapIn" />
      <wsdl:output message="tns:ChangeDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveQuery">
      <wsdl:input message="tns:SaveQuerySoapIn" />
      <wsdl:output message="tns:SaveQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuery">
      <wsdl:input message="tns:UpdateQuerySoapIn" />
      <wsdl:output message="tns:UpdateQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrievePassword">
      <wsdl:input message="tns:RetrievePasswordSoapIn" />
      <wsdl:output message="tns:RetrievePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogUserHistory">
      <wsdl:input message="tns:LogUserHistorySoapIn" />
      <wsdl:output message="tns:LogUserHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PasswordChanged">
      <wsdl:input message="tns:PasswordChangedSoapIn" />
      <wsdl:output message="tns:PasswordChangedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="xxxxx">
      <wsdl:input message="tns:xxxxxSoapIn" />
      <wsdl:output message="tns:xxxxxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLocation">
      <wsdl:input message="tns:GetUserLocationSoapIn" />
      <wsdl:output message="tns:GetUserLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ErrorLogging">
      <wsdl:input message="tns:ErrorLoggingSoapIn" />
      <wsdl:output message="tns:ErrorLoggingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacility">
      <soap:operation soapAction="http://tempuri.org/GetFacility" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDB">
      <soap:operation soapAction="http://tempuri.org/GetDataDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIQToolsDBData">
      <soap:operation soapAction="http://tempuri.org/GetIQToolsDBData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueries">
      <soap:operation soapAction="http://tempuri.org/GetQueries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBs">
      <soap:operation soapAction="http://tempuri.org/GetDBs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDC">
      <soap:operation soapAction="http://tempuri.org/GetDataDC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDBLog">
      <soap:operation soapAction="http://tempuri.org/GetDataDBLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://tempuri.org/Merge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAvailability">
      <soap:operation soapAction="http://tempuri.org/CheckAvailability" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <soap:operation soapAction="http://tempuri.org/GetCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDetails">
      <soap:operation soapAction="http://tempuri.org/ChangeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuery">
      <soap:operation soapAction="http://tempuri.org/SaveQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuery">
      <soap:operation soapAction="http://tempuri.org/UpdateQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePassword">
      <soap:operation soapAction="http://tempuri.org/RetrievePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUserHistory">
      <soap:operation soapAction="http://tempuri.org/LogUserHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChanged">
      <soap:operation soapAction="http://tempuri.org/PasswordChanged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xxxxx">
      <soap:operation soapAction="http://tempuri.org/xxxxx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocation">
      <soap:operation soapAction="http://tempuri.org/GetUserLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorLogging">
      <soap:operation soapAction="http://tempuri.org/ErrorLogging" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFacility">
      <soap12:operation soapAction="http://tempuri.org/GetFacility" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDB">
      <soap12:operation soapAction="http://tempuri.org/GetDataDB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIQToolsDBData">
      <soap12:operation soapAction="http://tempuri.org/GetIQToolsDBData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQueries">
      <soap12:operation soapAction="http://tempuri.org/GetQueries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDBs">
      <soap12:operation soapAction="http://tempuri.org/GetDBs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDC">
      <soap12:operation soapAction="http://tempuri.org/GetDataDC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataDBLog">
      <soap12:operation soapAction="http://tempuri.org/GetDataDBLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap12:operation soapAction="http://tempuri.org/Merge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAvailability">
      <soap12:operation soapAction="http://tempuri.org/CheckAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredentials">
      <soap12:operation soapAction="http://tempuri.org/GetCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeDetails">
      <soap12:operation soapAction="http://tempuri.org/ChangeDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveQuery">
      <soap12:operation soapAction="http://tempuri.org/SaveQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuery">
      <soap12:operation soapAction="http://tempuri.org/UpdateQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrievePassword">
      <soap12:operation soapAction="http://tempuri.org/RetrievePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogUserHistory">
      <soap12:operation soapAction="http://tempuri.org/LogUserHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordChanged">
      <soap12:operation soapAction="http://tempuri.org/PasswordChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="xxxxx">
      <soap12:operation soapAction="http://tempuri.org/xxxxx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLocation">
      <soap12:operation soapAction="http://tempuri.org/GetUserLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ErrorLogging">
      <soap12:operation soapAction="http://tempuri.org/ErrorLogging" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://41.73.195.220/iqtoolslite/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://41.73.195.220/iqtoolslite/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>